{% extends 'base.html' %}
{% block title %}
reference
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/page-default.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block body %}
<div id="main-index" class="container" style="justify-content: center;flex-direction: column;align-items: center">
    <img src="/static/images/About-us-bg.png" alt="" style="width: 100%;margin-top: 1.75rem;">
    <div style="width: 80%;display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 40px 0 50px;border-bottom: 1px solid #efefef" class="color-comment">
        <div style="font-size: 1.5rem;font-weight: bold">
            About Us
        </div>
        <div class="font-weight-bold">
            <p style="line-height: 1.2">
                Launched in 2019, VNwallstreet.com is one of the world's leading sources for news and analysis on the currency, commodity and index trading community.
            </p>
            <p style="line-height: 1.2">
                VNwallstreet.com analysts report every day on the latest changes in the financial markets, providing timely fundamental economic and technical analysis and a close examination of promising chart formations with live currency quotes.
            </p>
            <p style="line-height: 1.2">
                VNwallstreet.com also provides analysis of market moves, explaining economic, political, and technical factors driving the market
            </p>
        </div>
    </div>
    <div style="width: 80%;display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 40px 0 50px;border-bottom: 1px solid #efefef" class="color-comment">
        <div style="font-size: 1.5rem;font-weight: bold">
            WARNING
        </div>
        <div class="font-weight-bold">
            <p style="line-height: 1.2">
                Leveraged trading in foreig.currency or off-exchange products on margin carries significant risk and may not be suitable for all investors. We advise you to carefully consider whether trading is appropriate for you based on your personal circumstances. Forex trading involves risk.
                Losses can exceed deposits. We recommend that you seek independent advice and ensure you fully understand the risks involved before trading. </p>
        </div>
    </div>
    <div class="color-comment font-weight-bold" style="padding: 40px 0 50px">
        Contact details: 0353025094 (Zalo) / houselovers1010@gmail.com (Facebook&Gmail)V
    </div>

</div>
{% endblock %}
{% block script %}
<script src="/static/js/bin/jquery-2.1.4.js"></script>
<script src="/static/js/bin/bootstrap.js"></script>
<script src="/static/layer/layer.js"></script>
<script src="/static/js/index/default.js"></script>
{% endblock %}
