<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        title
    {% endblock %}</title>

    {% block link %}

    {% endblock %}
</head>
<body>
<div class="top-tips">
    <div class="tips">
        <p>Cảnh báo rủi ro: Các giao dịch ngoại hối có rủi ro rất cao và có thể không phù hợp với tất cả các nhà đầu tư.
            Các thông tin và đề xuất được cung cấp trên trang web này chỉ mang tính chất tham khảo và không cấu thành
            hướng dẫn vận hành trực tiếp. Các rủi ro và tổn thất do chính nhà đầu tư chịu. trang web không chịu bất kỳ
            trách nhiệm.
        </p>
        <div class="accept">
            <div style="float: left">Chấp nhận</div>
            <div>&radic;</div>
        </div>
    </div>
</div>
<div class="top-ad">
    <div id="top" class="row">
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
    </div>
</div>
<div style="width: 100%;background-color: #213b54;" id="title">
    <div class="container">

        <div id="nav">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo1.png" alt="LOGO">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav navibar-top mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link " href="/">7*24</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/calendar/">Lịch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/group/">Nhóm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about-us/">Giới thiệu</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/search/" type="get">
                        <input class="form-control mr-sm-2" type="text" name="q">
                        <button class="btn  my-2 my-sm-0 search-btn" type="button"><img src="/static/images/search.png"
                                                                                        alt=""></button>
                    </form>
                </div>
                <div class="user-data">
                    <div class="user-header" id="user-header" {% if request.user.is_authenticated %}
                         onclick="toUser()"{% else %}
                         onclick='login()'
                    {% endif %} >

                        {% if request.user.is_authenticated %}
                            <img src="/media/{{ request.session.user_img }}" alt="" width="34" height="34">
                        {% else %}
                            <img src="/static/images/head.png" alt="" width="34" height="34">
                        {% endif %}
                    </div>
                    <div class="user-name" id="user-name" {% if request.user.is_authenticated %}
                         onclick="toUser()"{% else %}
                         onclick='login()'
                    {% endif %}>
                        <span>{% if request.user.is_authenticated %}
                            {{ request.session.user_name }}
                        {% else %}
                            Đăng nhập
                        {% endif %}
                        </span>
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="user-message cursor-pointer" id="user-message">
                            <img src="/static/images/message.png" alt="">
                        </div>
                        <div><a class="user-out" href="{% url 'logout' %}">Đăng xuất</a></div>
                    {% endif %}


                </div>
            </nav>
        </div>
    </div>

</div>


{% block body %}

{% endblock %}

<div style="width: 100%;background-color: #213b54;">
    <div id="footer" class="container">
        <div class="footer-left">
            <img src="/static/images/logo2.png" alt="">
        </div>
        <div class="footer-right">
            <div class="whatsApp">
                <img src="/static/images/whatsapp.png" alt="">
            </div>
            <div class="facebook">
                <img src="/static/images/facebook.png" alt="">
            </div>
            <div class="tiwtter">
                <img src="/static/images/tiwtter.png" alt="">
            </div>
            <div class="zalo">
                <img src="/static/images/zalo.png" alt="">
            </div>
        </div>
    </div>
    <div id="footer-ad" class="container">
        <div class="footer-ad-left">
            <img src="/static/ad/pic1.png" alt="">
            <img src="/static/ad/pic2.png" alt="">
            <img src="/static/ad/pic3.png" alt="">
            <img src="/static/ad/pic4.png" alt="">
            <img src="/static/ad/pic5.png" alt="">
            <img src="/static/ad/pic6.png" alt="">
            <img src="/static/ad/pic7.png" alt="">
            <img src="/static/ad/pic8.png" alt="">
            <img src="/static/ad/pic7.png" alt="">
            <img src="/static/ad/pic8.png" alt="">
        </div>
        <div class="footer-ad-right">
            <div class="contact-us">Liên hệ với chúng tôi</div>
            <div>
                <img src="/static/images/callus.png" alt="">
                <span>+84 - 0353025094</span>
            </div>
            <div>
                <img src="/static/images/footer-zalo.png" alt="">
                <span>+84 - 0356985028</span>
            </div>
        </div>
    </div>

    <div class="footer-ad-bottom container">
        <div class="bottom-line"></div>
        <div class="bottom-warning">
            <div class="bottom-warning-top">Warning&Policy</div>
            <div class="bottom-warning-middle">
                Leveraged trading in foreign currency or off-exchange products on margin carries significant risk and
                may not be
                suitable for all investors. We advise you to carefully consider whether trading is appropriate for you
                based on your
                personal circumstances. Forex trading involves risk. Losses can exceed deposits. We recommend that you
                seek
                independent advice and ensure you fully understand the risks involved before trading.
            </div>
            <div class="bottom-warning-bottom">
                FX Publications Inc (dba DailyFX) is registered with the Commodities Futures Trading Commission as a
                Guaranteed Introducing Broker
                and is a member of the National Futures Association (ID# 0517400). Registered Address: 32 Old Slip,
                Suite 803; New York, NY 10005.
                FX Publications Inc is a subsidiary of IG US Holdings, Inc (a company registered in Delaware under
                number 4456365)
            </div>
        </div>
    </div>
</div>

<div class="back-top" id="backtop" style="display: none">
    <img src="/static/images/backtop.png" alt="">
</div>
{#<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>#}
<audio id="bgm" controls style="display: none">
    <source src="/static/sound/notice.wav"/>
</audio>

<script src="/static/js/bin/jquery-2.1.4.js"></script>
<script src="/static/js/bin/bootstrap.js"></script>
<script src="/static/layer/layer.js"></script>
<script src="/static/js/bin/autosize.js"></script>
<script src="/static/js/index/default.js"></script>
<script src="/static/js/index/emoji.js"></script>
<script src="/static/js/index/index.js"></script>
<script src="/static/js/index/fastinfowebsocket.js"></script>
<script src="/static/js/index/login.js"></script>
<script src="/static/js/index/ad.js"></script>
<script src="/static/js/index/search.js"></script>
<script src="/static/js/index/setting.js"></script>
<script src="/static/js/bin/api_client.js"></script>

<script async defer crossorigin="anonymous" src="/static/js/bin/facebook-SDK.js"></script>
{% block script %}

{% endblock %}


<script>
    {% if request.user.is_authenticated %}
        checkRemind()
    {% endif %}

    initMode()
    initSound()
    initGlobalAd()


    window.fbAsyncInit = function () {
        FB.init({
            appId: '394220287958534',
            {#appId: '2867805326681192',#}
            xfbml: true,
            version: 'v7.0'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // 点击按钮登录的代码
    $('body').on('click', '#facebookButton', function () {
        FB.login(function (response) {
            if (response.status === 'connected') {
                testAPI();
            } else {

                console.log("该用户没有登录")
            }
        }, {scope: 'public_profile,email'});
        return false;
    })


    function testAPI() {
        FB.api('/me', function (response) {
            FB.api('http://graph.facebook.com/' + response.id + '?fields=id,name,link,email,picture', function (data) {
                //获取数据之后填充到对应的input上
                console.log(data)
                $.ajax({
                    type: 'post',
                    url: '/third/',
                    data: {
                        'openid': data.id,
                        'name': data.name,
                        'img': data.picture.data.url,
                        'email': data.email,
                        'link': data.link,
                        'type': 'facebook'
                    },
                    success: function (res) {
                        console.log('fb登录返回结果：', res)
                        if (!res.success) {
                            layer.msg('<div style="color: black;text-align: center;">' + res.err + '</div>')
                        } else {
                            window.location.reload(true)
                        }
                    }
                })
            });
        })
    }


</script>
</body>
