<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        title
    {% endblock %}</title>
    {#	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">#}
    {#	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>#}
    {#	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    {% block link %}

    {% endblock %}
</head>
<body>
<div class="top-tips">
    <div class="tips">
        <p>风险提示：保证金交易存在极高的风险，未必适合所有的投资者，请不要轻信任何高额投资收益的诱导而贸然投资。在您决定投资保证金交易时，需要提醒您：投资导致的损失可能超过您投入的资金，因此，请您考虑自身的
            投资经验及风险承担能力理性投资。投资风险不仅来自于杠杆交易本身，同时也有可能来自于券商平台的不确定性，请您仔细甄別、远离风险。所有投资者的交易帐户应仅限本人使用，不应交由第三方操作，对于任何接受第
            三方喊单、操盘、理财等操作的投资和交易，由此导致的风险和专损由投资者个人自行承担。
        </p>
        <div class="accept">
            <div style="float: left">Accept</div>
            <div style="float: right">&radic;</div>
        </div>
    </div>
</div>
<div class="top-ad">
    <div id="top" class="row">
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
        {#        <img src="/static/ad/ad_top.jpg" alt="" class="col-3">#}
    </div>
</div>
<div style="width: 100%;background-color: #213b54;" id="title">
    <div class="container">

        <div id="nav">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/logo1.png" alt="LOGO">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav navibar-top mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link " href="/">7*24</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/calendar/">Calendar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/group/">Group</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about-us/">About us</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/search/" type="get">
                        <input class="form-control mr-sm-2" type="text" name="q">
                        <button class="btn  my-2 my-sm-0 search-btn" type="button"><img src="/static/images/search.png"
                                                                                        alt=""></button>
                    </form>
                </div>
                <div class="user-data">
                    <div class="user-header" id="user-header" {% if request.user.is_authenticated %}
                         onclick="toUser()"{% else %}
                         onclick='login()'
                    {% endif %} >

                        {% if request.user.is_authenticated %}
                            <img src="/media/{{ request.session.user_img }}" alt="" width="40" height="40">
                        {% else %}
                            <img src="/static/images/head.png" alt="" width="40" height="40">
                        {% endif %}
                    </div>
                    <div class="user-name" id="user-name">
                        <span>{% if request.user.is_authenticated %}
                            {{ request.session.user_name }}
                        {% else %}
                            LOG IN
                        {% endif %}
                        </span>
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="user-message cursor-pointer" id="user-message">
                            <img src="/static/images/message.png" alt="">
                        </div>
                        <div><a class="user-out" href="{% url 'logout' %}">Sign Out</a></div>
                    {% endif %}


                </div>
            </nav>
        </div>
    </div>
</div>

{% block body %}

{% endblock %}

<div style="width: 100%;background-color: #213b54;">
    <div id="footer" class="container">
        <div class="footer-left">
            <img src="/static/images/logo2.png" alt="">
        </div>
        <div class="footer-right">
            <div class="whatsApp">
                <img src="/static/images/whatsapp.png" alt="">
            </div>
            <div class="facebook">
                <img src="/static/images/facebook.png" alt="">
            </div>
            <div class="tiwtter">
                <img src="/static/images/tiwtter.png" alt="">
            </div>
            <div class="zalo">
                <img src="/static/images/zalo.png" alt="">
            </div>
        </div>
    </div>
    <div id="footer-ad" class="container">
        <div class="footer-ad-left">
            <img src="/static/ad/pic1.png" alt="">
            <img src="/static/ad/pic2.png" alt="">
            <img src="/static/ad/pic3.png" alt="">
            <img src="/static/ad/pic4.png" alt="">
            <img src="/static/ad/pic5.png" alt="">
            <img src="/static/ad/pic6.png" alt="">
            <img src="/static/ad/pic7.png" alt="">
            <img src="/static/ad/pic8.png" alt="">
            <img src="/static/ad/pic7.png" alt="">
            <img src="/static/ad/pic8.png" alt="">
        </div>
        <div class="footer-ad-right">
            <h1>Title</h1>
            <span>Word</span>
        </div>
    </div>

    <div class="footer-ad-bottom container">
        <div>
            <h1>Title</h1>
            <span>Word</span>
        </div>
        <div>
            <h1>Title</h1>
            <span>Word</span>
        </div>
    </div>
</div>
<div id="fixed-left">
    {#    <div>#}
    {#        <img src="/static/ad/ad_left.jpg" alt="">#}
    {#    </div>#}
    {#    <div><img src="/static/ad/ad_left.jpg" alt=""></div>#}
    {#    <div><img src="/static/ad/ad_foot.jpg" alt=""></div>#}
</div>
<div id="fixed-right">
    {#    <div>#}
    {#        <img src="/static/ad/ad_right.jpg" alt="">#}
    {#    </div>#}
    {#    <div><img src="/static/ad/ad_right.jpg" alt=""></div>#}
    {#    <div><img src="/static/ad/ad_foot.jpg" alt=""></div>#}
</div>
{#<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>#}
<audio id="bgm" controls style="display: none">
    <source src="/static/sound/notice.wav"/>
</audio>

<script src="/static/js/bin/jquery-2.1.4.js"></script>
<script src="/static/js/bin/bootstrap.js"></script>
<script src="/static/layer/layer.js"></script>
<script src="/static/js/bin/autosize.js"></script>
<script src="/static/js/bin/jquery.pagination.js"></script>
<script src="/static/js/index/default.js"></script>
<script src="/static/js/index/emoji.js"></script>
<script src="/static/js/index/index.js"></script>
<script src="/static/js/index/fastinfowebsocket.js"></script>
<script src="/static/js/index/login.js"></script>
<script src="/static/js/index/ad.js"></script>
<script src="/static/js/index/search.js"></script>
<script src="/static/js/index/setting.js"></script>
<script src="/static/js/bin/api_client.js"></script>
<script async defer crossorigin="anonymous" src="/static/js/bin/facebook-SDK.js"></script>
{% block script %}

{% endblock %}



{#<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>#}
<script>
    {% if request.user.is_authenticated %}
        checkRemind()
    {% endif %}

    initMode()
    initSound()
    initGlobalAd()


    window.fbAsyncInit = function () {
        FB.init({
            appId: '394220287958534',
            {#appId: '2867805326681192',#}
            xfbml: true,
            version: 'v7.0'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // 点击按钮登录的代码
    $('body').on('click', '#facebookButton', function () {
        FB.login(function (response) {
            if (response.status === 'connected') {
                testAPI();
            } else {

                console.log("该用户没有登录")
            }
        }, {scope: 'public_profile,email'});
        return false;
    })


    function testAPI() {
        FB.api('/me', function (response) {
            FB.api('http://graph.facebook.com/' + response.id + '?fields=id,name,link,email,picture', function (data) {
                //获取数据之后填充到对应的input上
                console.log(data)
                $.ajax({
                    type: 'post',
                    url: '/third/',
                    data: {
                        'openid': data.id,
                        'name': data.name,
                        'img': data.picture.data.url,
                        'email': data.email,
                        'link':data.link,
                        'type': 'facebook'
                    },
                    success: function (res) {
                        console.log('fb登录返回结果：', res)
                        if (!res.success) {
                            layer.msg('<div style="color: black;text-align: center;">' + res.err + '</div>')
                        } else {
                            window.location.reload(true)
                        }
                    }
                })
            });
        })
    }






</script>
</body>
