<div class="timeLine"></div>
{#<div class="main-data-div color-comment">#}
{#    <div class="main-data-icon"><div class="icon-div"><img src="/static/images/7_24.png" alt=""></div></div>#}
{#    <div class="main-data-time">10:25:36</div>#}
{#    <div class="main-data-info">#}
{#        <div>[thị trường] khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có thể mang lại lợi ích về hiệu suất các yếu tố trong tương lai</div>#}
{#    </div>#}
{#</div>#}
{#<div class="main-data-div color-comment">#}
{#    <div class="main-data-icon"><div class="icon-div"><img src="/static/images/7_24.png" alt=""></div></div>#}
{#    <div class="main-data-time">10:25:36</div>#}
{#    <div class="main-data-info">#}
{#        <div>khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện,#}
{#                ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện</div>#}
{#    </div>#}
{#</div>#}
{#<div class="main-data-div color-comment">#}
{#    <div class="main-data-icon"><div class="icon-div"><img src="/static/images/7_24.png" alt=""></div></div>#}
{#    <div class="main-data-time">10:25:36</div>#}
{#    <div class="main-data-info">#}
{#        <div>[thị trường] khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có thể mang lại lợi ích về hiệu suất các yếu tố trong tương lai khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện,#}
{#                ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện</div>#}
{#    </div>#}
{#</div>#}
{#<div class="main-data-div color-comment">#}
{#    <div class="main-data-icon"><div class="icon-div"><img src="/static/images/7_24.png" alt=""></div></div>#}
{#    <div class="main-data-time">10:25:36</div>#}
{#    <div class="main-data-info">#}
{#        <div> khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện,#}
{#                ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự#}
{#                kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có</div>#}
{#    </div>#}
{#</div>#}
{#<div class="main-data-div color-comment">#}
{#    <div class="main-data-icon"><div class="icon-div"><img src="/static/images/7_24.png" alt=""></div></div>#}
{#    <div class="main-data-time">10:25:36</div>#}
{#    <div class="main-data-info">#}
{#        <div> khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện,#}
{#                ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự#}
{#                kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có</div>#}
{#    </div>#}
{#</div>#}
{#<div class="main-data-div color-comment">#}
{#    <div class="main-data-icon"><div class="icon-div"><img src="/static/images/7_24.png" alt=""></div></div>#}
{#    <div class="main-data-time">10:25:36</div>#}
{#    <div class="main-data-info">#}
{#        <div> khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện,#}
{#                ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự#}
{#                kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có</div>#}
{#    </div>#}
{#</div>#}
{#<div class="main-data-div color-comment">#}
{#    <div class="main-data-icon"><div class="icon-div"><img src="/static/images/7_24.png" alt=""></div></div>#}
{#    <div class="main-data-time">10:25:36</div>#}
{#    <div class="main-data-info">#}
{#        <div> khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện,#}
{#                ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự#}
{#                kiện, ưu tiên sự kiện ủy quyền, có khi cần nhiều yếu tố ràng buộc sự kiện, ưu tiên sự kiện ủy quyền, có</div>#}
{#    </div>#}
{#</div>#}
<div class="main-data-div">
    <div class="main-data-time" style="visibility:hidden;">10:24:36</div>
{#    <div class="main-data-info">#}
{#        <div class="main-footer cursor-pointer">MORE INFORMATION</div>#}
{#    </div>#}
</div>


<script>
    $.ajax({
        type:'get',
        url:'/getsummarylist/',
        success:function (result) {
            console.log(result)
            if (!result.success){
                layer.msg('<div style="color: black;text-align: center;">' + result.msg+'</div>');
            }else{
                let btn_div = $('<div class="main-data-info">\n' +
                    '        <div class="main-footer cursor-pointer">MORE INFORMATION</div>\n' +
                    '    </div>')
                $('.main-data-div').append(btn_div)
                for (let data of result.data){
                    let div = $('<div class="main-data-div color-comment"></div>')
                    if (result.isimportant){
                        div.removeClass('.color-comment');
                        div.addClass('.color-red');
                    }
                    let icon = $('<div class="main-data-icon"><div class="icon-div"><img src="/static/images/7_24.png" alt=""></div></div>')
                    let time = $('<div class="main-data-time">'+data.time+'</div>')
                    let info = $('<div class="main-data-info">\n' +
                        '        <div>'+data.content+'</div>\n' +
                        '         </div>')
                    div.append(icon,time,info)
                    btn_div.before(div)
                }
            }
        }
    })
</script>
